
/*  =================  Reset */

:root{
    --corTema:red;
    --pretoAlter: #1D1D1D;
}

@keyframes ponteiro {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}
img{
    width: 100%;
    height: 100%;
}


body{
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}


#container{
    width: 100vw;
    background-color: black;
    color: white;
    margin: auto;
}

#btn{
    display: none;
}
#cont_btn{
    display: none;
    width: 35px;
    height: 30px;
    flex-direction: column;
    justify-content: space-around;
}
#cont_btn div{
    height: 5px;
    background-color: var(--corTema);
    transition: 0.5s;
}

header{
    background: rgba(0, 0, 0, 0.401);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
}


header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 10%;
    position: relative;
}

.logo{
    height: 60px;
    width: 80px;
    text-align: center;
    line-height: 70px;
    color: var(--corTema);
    font-size: 2.7em;
}

header nav ul{
    display: flex;
}

header ul li a{
    display: block;
    padding: 10px;
    margin: 5px 9px;
    font-size: 1.5em;
    color: white;
    transition: color 0.5s;
    border: 1px solid transparent;
    
}

header ul li a:hover{
    color: var(--corTema);
    border-top: 0.5px solid var(--corTema);
    border-bottom: 0.5px solid var(--corTema);
}

/* =========== Ínicio Outdoor ==================*/

/* header{
    background: url("imagens/fundo02.jpg") no-repeat center center;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header:before{
    content: '';
    background-color: rgba(15, 15, 20, 0.563);
    display: block;
    height: 90vh;
    width: 100vw;
    position: absolute;
    
}

/* header::before{
    content:"";
    background-position: cover;
    background-color: rgba(0, 255, 255, 0.178);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    

} 

div.outdoor{
    height:80% ;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

div.outdoor h1{
    font-size: 3.5em;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--corTema);
    top: 34vh;
    text-align: center;
    line-height: 60px;
}
div.outdoor p{
    font-size: 1.4em;
    color: lightgray;
    margin-top: 25px;
} */

/* ---------------------------- */

section.outdoor{
    background: url("imagens/fundo02.jpg") no-repeat center center;
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

section.outdoor:before{
    content: '';
    background-color: rgba(15, 15, 20, 0.563);
    top: 0;
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: 1;
    
}


section.outdoor div{
    height:80% ;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

section.outdoor h1{
    font-size: 3.5em;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--corTema);
    top: 34vh;
    text-align: center;
    line-height: 60px;
    margin-top: 20%;
}
section.outdoor p{
    font-size: 1.4em;
    color: lightgray;
    margin-top: 25px;
    position: relative;
    height: 30px;
    text-align: center;
}

section.outdoor #alvo:after{
    content: "|";
    font-weight: 900;
    font-size: 1.3em;
    color: var(--corTema);
    margin-left: ;
    animation: ponteiro 0.5s infinite;
    margin-left: -5px;
}

/*============ Ínicio Main ==============*/

main{
    width: 100vw;
}
.sobreMim{
    
    height: 510px;
    padding-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section #foto{
    height: 300px;
    border-top: 10px solid var(--corTema);
    border-left: 10px solid var(--corTema);
    width: 250px;
    margin-right: 15%;
}

section #texto_direita{
    width: 50%;
    padding-right: 7px;
}

#texto_direita h2, p{
    margin-bottom: 25px;
}
#texto_direita h2{
    background-color: var(--pretoAlter);
    padding: 7px;
}
#texto_direita p{
    margin-bottom: 25px;
    color: lightslategray;
}

#texto_direita p:after{
    content: '|';
    color: var(--corTema);
    font-size: 1.2em;
    font-weight: 800;
    margin-left: -10px;
    animation: ponteiro 0.5s infinite;
}


div.separador{
    display: flex;
    margin-bottom:15px;
    justify-content: space-between;
    width: 250px;
}
div.separador span{
    display: block;
    width: 160px;
    color: lightslategray;
}

#texto_direita button{
    padding: 12px;
    background-color: var(--corTema);
    border-radius: 20px;
    color: rgb(244, 162, 162);
    font-weight: 800;
    margin-top: 7px;
}
/*========  TECNOLOGIAS =========*/

.sec_tecnologias{
    margin-top: 50px;
    margin-bottom: 50px;
}
.sec_tecnologias h2{
    border-left: 5px solid var(--corTema);
    margin: 30px 0 75px 20px;
    font-size: 1.8em;
    text-transform: uppercase;
    padding-left: 20px;
}

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.tecnologias div{
    margin: 15px;
    width: 30%;
    max-width: 500px;
    min-width: 250px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--pretoAlter);
    box-shadow: 5px 5px 13px #1a1a1a;
}

.front-end{
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 20px var(--corTema) !important;
    border: 7px solid var(--corTema);
}

.front-end:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: var(--corTema);
    bottom: -101px;
    transform: perspective(140px) rotateX(36deg);
    filter: blur(37px);
    opacity: 0.4;
}

.front-end h3{
    color: var(--corTema);
    margin-bottom: 20px;
    font-size: 1.3em;
    
}

.front-end ul li{
    margin-bottom: 7px;
    font-size: 1.1em;
}

.web-design{
    position: relative;
    box-shadow: 0px 0px 20px var(--corTema) !important;
    border: 7px solid var(--corTema);
}

.web-design h3{
    color: var(--corTema);
    margin-bottom: 20px;
    font-size: 1.3em;
}

.web-design:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: var(--corTema);
    bottom: -101px;
    transform: perspective(140px) rotateX(36deg);
    filter: blur(37px);
    opacity: 0.4;
}


/*================  TRABALHOS  ===============*/

section.sec_trabalhos{
    text-align: center; 
    padding: 20px;
}

section.sec_trabalhos div.trabalhos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div.trabalhos div{
    width: 300px;
    height: 200px;
    background-color: var(--pretoAlter);
    margin: 13px;
    border-radius: 15px;
}

div.trabalhos div img {
    border-radius: 15px;
}

div.trabalhos div:hover{
    transform: scale(1.2);
}

section.sec_trabalhos h2{
    margin: 20px 0 80px 20px;
    font-size: 1.8em;
    border-left: 5px solid var(--corTema);
    text-transform: uppercase;
    text-align:left;
    padding-left: 20px;
}

/*=========== FOOTER =============*/
footer{
    background-color: #23232f;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(125, 126, 127);
    padding: 10px;
}


/* =========== media queries ============*/

@media (max-width:700px){

    body{
        overflow-x: hidden;
    }
    #cont_btn {
        display: flex;
    }
    header{
        background-attachment: scroll;
    }

    img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    #ul01 {
        background-color: #0f0f14;
        height: 86vh;
        width: 70vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        border-top: 2px solid var(--corTema);
        z-index: 1;
        position: absolute;
        right: 0;
        top: 12vh;
        transform: translateX(100%);
    }

    #ul01 li {
        padding: 0 !important;
    }
    #ul01 li a{

        font-size: 1.5em !important;
        text-align: center;
        border-bottom: 1px solid var(--corTema);
        margin: 12px auto !important;
        line-height: 40px;

        position: relative;
    }

    #ul01 li a:after{
        content: "";
        position: absolute;
        background-color: var(--corTema);
        height: 4px;
        width:100%;
        bottom: 5px;
        left: 0;
        
    }
    header ul li a:hover{
        box-shadow: 0px 0px 80px 4px var(--corTema);
        border: none;
        background-color: var(--corTema);
        color: black;
    }

    header ul li a:active{
        background-color: var(--corTema);
        color: black;
        box-shadow: 0px 0px 80px 10px var(--corTema);
        border: none;
    }

    #btn:checked ~ #ul01 {
        display: flex;
        transform: translateX(0%);
    }

    #btn:checked ~ label .d1{
        transform: rotate(-45deg) translate(-8px, 10px)
    }
    #btn:checked ~ label .d2{
        opacity: 0;
    }
    #btn:checked ~ label .d3{
        transform: rotate(45deg) translate(-4px, -7px);
        
    }

    .sobreMim{   
        height: 810px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    section #foto{
        height: 250px;
        width: 300px !important;
        border: none;
        width: 250px;
        margin: 10px auto 20px auto;
    }
    
    section #texto_direita{
        width: 80%;
        padding-right: 7px;
    }

    section.outdoor h1{
        
        margin-top: 40%;
    }

    /*============== SECTION TECNOLOGIA =========*/

    .tecnologias {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 600px;
    }
    
    .tecnologias div{
        margin-bottom: 140px;
        width: 30%;
        max-width: 500px;
        min-width: 250px;
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background-color: var(--pretoAlter);
        box-shadow: 5px 5px 13px #1a1a1a;
    }
    
    .front-end{
        display:flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        box-shadow: 0px 0px 20px var(--corTema) !important;
        border: 7px solid var(--corTema);
    }
    
    .front-end:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 30%;
        background-color: var(--corTema);
        bottom: -90px;
        transform: perspective(140px) rotateX(36deg);
        filter: blur(37px);
        opacity: 0.5;
    }
    
    .front-end h3{
        color: var(--corTema);
        margin-bottom: 20px;
        font-size: 1.3em;
        
    }
    
    .front-end ul li{
        margin-bottom: 7px;
        font-size: 1.1em;
    }
    
    .web-design{
        position: relative;
        box-shadow: 0px 0px 20px var(--corTema) !important;
        border: 7px solid var(--corTema);
    }
    
    .web-design h3{
        color: var(--corTema);
        margin-bottom: 20px;
        font-size: 1.3em;
    }
    
    .web-design:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 30%;
        background-color: var(--corTema);
        bottom: -90px;
        transform: perspective(140px) rotateX(36deg);
        filter: blur(37px);
        opacity: 0.5;
    }
    
    /*==========================================*/

    @keyframes ani{
        from{
            right:-50vw;
        }
        to{
            right: 0;
        }
    }

    
}

